### Java / Maven ###
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
# Se usar o Maven Wrapper:
!.mvn/wrapper/maven-wrapper.jar

### IntelliJ IDEA ###
.idea/
*.iws
*.iml
*.ipr
out/
.idea/runConfigurations/

### VS Code ###
.vscode/
*.code-workspace
.history/

### Logs e Arquivos Temporários ###
*.log
logs/
temp/
tmp/

### Docker ###
*.tar
*.tar.gz
docker-compose.override.yml

### OS Junk ###
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

### Spring Boot ###
.help.md

### Secrets ###
.env

## temp
req.http
test.http